* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: white;
    color: black;
    line-height: 1.6;
    align-items: center;
}

header { /*para ajustar los 2 primeros encabezados*/
    text-align: left;
    padding: 1px 100px;
}

h4 {
    text-align: left;
    margin-top: 5%;
}

.text {
    text-align: left;
    font-size: 60px;
    color: rgb(159, 155, 155);
}

.image {
    border-radius: 2%;
}

header h1 { /*encabezado*/
    font-size: 4rem;
    color: #008080;
}

.firstsection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 150px; /*espacio entre el texto y las imagenes*/
    margin-left: 10%;
    margin-right: 10%;
}

.sec {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 10px;
    padding: 20px; 
}

.sec .para { /*espacio entre la ultima imagen y el footer*/
    margin-bottom: 20px; 
}

h3 { 
    font-size: 1.5rem;
}

footer {
    background: black;
    color: white;
    text-align: left;
    padding: 5%;
}

.footer { /*para el contenido que está dentro del footer excepto el encabezado*/
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    flex-wrap: wrap;
}

footer h2 {
    font-size: 1.5em;
}

.footer h3 {
    font-size: 1rem; 
    margin-bottom: 10px;
}

.footer ul {
    list-style: none; /*para quitar los puntos de lista*/
}

.footer li {
    font-size: 0.7rem; /*para el contenido que esta dentro de h3 de footer*/
}

@media (max-width: 768px) {

    .firstsection {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin: 5%;
        margin-left: 10%;
        margin-right: 10%;
    }

    header h1 {
        font-size: 3rem;
        margin: ;
    }

    .image {
        width: 100%;
    }

    .text {
        font-size: 30px;
    }
}






